<%- contentFor('content') %>
<form method="POST" action="<%= `${baseUrl}/goal${qstrNikToken}` %>">
    <input name="name" type="text" placeholder="Your goal:">
    <input type="submit" value="Create Goal">
</form>