<%- contentFor('content') %>
<form method="POST" action="<%= `${baseUrl}/goal${qstrNikToken}` %>">
    <input name="name" type="text" placeholder="Your goal:">
    <button type="submit">Create Goal</button>
</form>