<%- contentFor('content') %>
    <button>
        <a href="<%= `${baseUrl}/goal${qstrNikToken}` %>">New Goal</a>
    </button>
    <ul>

       <% user.goals.forEach(goal => { %>
            <li>
                <a href="<%= `${baseUrl}/goal/${goal._id}${qstrNikToken}` %>">
                    <%= goal.name %>
                </a>
            </li>
       <% }) %>

    </ul>