<%- contentFor('content') %>
    <button>
        <a href="<%= `${baseUrl}/goal${qstrNikToken}` %>">New Goal</a>
    </button>
    <ul>

       <% user.goals.forEach(goal => { %>
            <li>
                <%- include('./items/goal_li', { goal }) %>
            </li>
       <% }) %>

    </ul>