<%- contentFor('content') %>
<form method="POST" action="<%= baseUrl %>/login">
    <input name="nik" type="text" placeholder="nik">
    <input name="password" type="password" placeholder="password">
    <button type="submit">Login</button>
    <a href="<%= baseUrl %>/register">Register me!</a>
</form>