<div id='login-bar'>
    <% if (!accountSettingsView) { %>
        <button>
        <a href="<%= `${baseUrl}/user/account${qstrNikToken}` %>">
            My account settings
        </a>
        </button>
    <% } %>
    <button>
        <a href="<%= `${baseUrl}/logout${qstrNikToken}` %>">
            Logout
        </a>
    </button>
</div>
<hr>