<div id='login-bar'>
    <button>
        <a href="<%= `${baseUrl}/todo/user/account${qstrNikToken}` %>">
            My account settings
        </a>
    </button>
    <button>
        <a href="<%= `${baseUrl}/logout${qstrNikToken}` %>">
            Logout
        </a>
    </button>
</div>
<hr>