<div id='login-bar'>
    <% if (!goalsView) { %>
        <button>
        <a href="<%= `${baseUrl}/user${qstrNikToken}` %>">
            Show all my goals
        </a>
        </button>
    <% } %>
    <% if (!accountSettingsView) { %>
        <button>
        <a href="<%= `${baseUrl}/user/account${qstrNikToken}` %>">
            My account settings
        </a>
        </button>
    <% } %>
  
    <button>
        <a href="<%= `${baseUrl}/logout${qstrNikToken}` %>">
            Logout
        </a>
    </button>
</div>
<hr>