<html>

<head>
    <link href="/public/css/base.css" rel="stylesheet">
    <title>
        <%= title %>
    </title>
</head>

<body>

    <%- include('../partials/loginBar') %>

        <%- content %>
</body>

</html>