<html>

<head>
    <link href="/public/css/login.css" rel="stylesheet"/>
    <link href="/public/css/base.css" rel="stylesheet"/>
</head>

<body>
    <div id='login-form' class='flex-center-all'>
        <%- content %>
    </div>
</body>

</html>